VITE_SUPABASE_URL=https://mtvbkllefgbcfhutdejg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10dmJrbGxlZmdiY2ZodXRkZWpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNTUxNTYsImV4cCI6MjA5NDkzMTE1Nn0.WkbObpCoVl-evIZocb2q0QSTPZo17EV6cFun5NXwDf0
VITE_EMAILJS_SERVICE_ID=service_gewyj2y
VITE_EMAILJS_TEMPLATE_ID=template_mp2pb7j
VITE_EMAILJS_PUBLIC_KEY=Zmdyuo3yIL4Iav2ZU
